<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris Jokes!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/" method="GET">
      <button>GET CHUCK NORRIS JOKE</button>
    </form>
    
    <div><%=joke%></div>
  </body>
</html>
